WEBPSI_HOST=103.169.3.180
WEBPSI_PORT=65000
WEBPSI_USER=vmhosting
WEBPSI_DATA_DIR=/var/www/verifikasi-inanwp/data/metplus
WEBPSI_SSH_KEY=/home/dpu/.ssh/id_ed25519_webpsi
METPLUS_DATA_DIR=/home/dpu/data/metplus
INANWP_DIR=/home/klimat/inanwp
GSMAP_FTP=ftp://202.90.199.64/himawari6/GSMaP/netcdf
